<!DOCTYPE html>
<html>
    <head>
        <title>Angular learn project</title>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    </head>

    <body>
        <div ng-app="angularDemo">
            <div ng-controller="MyController">
                <input type="text" ng-model="data.message">
                <h3>{{"Input message - " + data.message}}</h3>
                <h3>{{"Method reverse message - " + reversedMessage(data.message)}}</h3>
                <h3>{{"Filter reverse message - " + (data.message | reverse)}}</h3>

                <input type="text" ng-model="search.name">

                <table>
                    <thead>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Film</th>
                    </thead>
                    <tr ng-repeat="film in films | filter: search">
                        <td>{{film.name | uppercase}}</td>
                        <td>{{film.age}}</td>
                        <td>{{film.films.text}}</td>
                    </tr>
                </table>

                <input type="text" ng-model="searchGo">

                <table>
                    <thead>
                        <th>position id</th>
                        <th>name</th>
                        <th>country</th>
                        <th>latitude</th>
                    </thead>
                    <tr ng-repeat="suggest in goeuro | orderBy:'primaryName' | filter: searchGo">
                        <td>{{suggest.positionId}}</td>
                        <td>{{suggest.primaryName}}</td>
                        <td>{{suggest.country | uppercase}}</td>
                        <td>{{suggest.latitude}}</td>
                    </tr>
                </table>
            </div>
        </div>

        <script type="text/javascript" src="js/angular.min.js"></script>
        <script type="text/javascript" src="main.js"></script>
    </body>
</html>
